<!-- Page Content -->
<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-2">
                <img src="https://angular.io/assets/images/logos/angular/angular.svg" />
            </div>
            <div class="col-lg-10">
                <h1 class="display-5 text-white mt-5 mb-2">Alelo Frota</h1>
                <p class="lead mb-5 text-white"> Alelo Frota, que é uma plataforma que gerencia todas as suas despesas automotivas como combustível, manutenção e documentação. Você define os parâmetros de utilização e controla como e onde os seus cartões podem ser utilizados, proporcionando redução de custos para a sua operação e melhor performance para a sua frota.</p>
            </div>
        </div>
    </div>
</header>

<div class="container main-container">
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/crossplat.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Veículos</h4>
                    <p class="card-text">Veículos</p>
                </div>
                <div class="card-footer">

                    <a class="btn btn-primary" [routerLink]="['/veiculos/listar-todos']">Saiba mais</a>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- Fim Content -->
